<center><h1> Diagnostic Codes</h1>

<%= link_to 'Create New Diagnostic Code', new_diagnostic_path %></center>
<div class="CSSTableGenerator" >
<table>
 
    <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Price</td>
      <th colspan="3"></th>
    </tr>
 

  
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.name %></td>
        <td><%= diagnostic.code %></td>
        <td><%= number_to_currency(diagnostic.cost) %></td>
        <td><%= link_to 'Update', edit_diagnostic_path(diagnostic) %></td>
        <td><%= link_to 'Delete', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>

<br>


