<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @diagnostic.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diagnostic.code %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@diagnostic.cost) %>
</p>

<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
</center>