<center><h1>Select a Physician</h1></center>
<div class="CSSTableGenerator" >
<table>
  

  <tbody>
    <tr>
      <td>Name</td>
      <td>Availability</td>
    <% @physicians.each do |physician| %>
      <tr>
          <% if (physician.active == true) %>
          <td><%= physician.name %></td>
        <td><%= link_to 'Check Availability', physician %></td>
      </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>
