<p id="notice"><%= notice %></p>

<p><center>
  <strong>Availability for 
  <%= @physician.name %> </strong>
</center>
</p>

		<% @reg = Array.new %>
		<% @slot.each do |arg| %>
			<% @reg.push arg.name %>
				<% end %>

		<% @today = Date.today %>
		<% @two_weeks = @today + 14 %>
		<% @open = Array.new %>
<center>
	<table>
		<% (@today..@two_weeks).each do |day| %>
		<tr>
  		<% if day.wday == 0 || day.wday == 6 %>
  			<% #nothing printed %>
  		<% else %>
  		<strong><%= day.strftime("%A, %b %d") %></strong>
		<div><%= link_to 'Schedule Appointment', new_appointment_path %></div>
		<% @reg.each do |tmp| %>
			<div><%= "#{tmp}" %></div>
		<% end %>
			<% @appointments.each do |appointment| %>
			<% if appointment.appointment_date == day and appointment.physician.id == @physician.id then %>
			<% @open.clear %>
			<% @open.push appointment.slot.name %>
			<% @open.uniq! %>
				<% @open.each do |tst| %>
					<div><H4><%= "The Following Appointment is unavailable: #{tst}" %></div></h4>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</tr>

</table>
<%= link_to 'Schedule Appointment', new_appointment_path %>

<%= link_to 'Back', page_patient_dash_path %>
</center>


