<center><h1>Administrative Services</h1></center>
<center>
<p id ="navi" ><%= link_to 'New Patient', new_patient_path %></p>
<p id ="navi" ><%= link_to 'Invoice', page_invoice_path%> </p>                        
<p id ="navi" ><%= link_to 'Diagnostic Codes', diagnostics_path %></p>
<p id ="navi" ><%= link_to 'Physicians', page_physician_admin_path %></p>
<p id ="navi" ><%= link_to 'Physicians Report', page_physician_app_path %></p>
</center>