<center><h1>Cancel an Appointment</h1></center>



<div class="CSSTableGenerator" >
<table>
  
    <tr>
      <td>Date</td>
      <td>Patient</td>
      <td>Physician</td>
      <td>Time</td>
      <td>Diagnosis</td>
      <td>Status</td>
      
    </tr>
  
      <% @current = Time.now%>
      <% @limit = Time.now.change(:hour => 8).strftime('%H:%M:%S') %>
      <% @curr_date = Date.today %>
 


 
    <% @appointments.each do |appointment| %>
      <tr>
        <% if appointment.appointment_date < @curr_date %>
          <% #Omits past appointments %>
        <% else %>
              <td><%= appointment.appointment_date.strftime("%A, %b %d") %></td>
              <td><%= appointment.patient.name %></td>
              <td><%= appointment.physician.name %></td>
              <td><%= appointment.slot.start_time.strftime('%I:%M:%S %p') %></td>
              <td><%= appointment.diagnostic.code %></td>
                <% if (@diff = appointment.slot.start_time.hour - @current.hour < 8 && appointment.appointment_date == @curr_date) %>
                    <td><strong><%= "Appointment Cannot be Cancelled" %></strong></td>
                 <% else %>
              <td><%= link_to 'Cancel Appointment', appointment, method: :delete, data: { confirm: 'Cancel Appointment?' } %></td>
              <% end %>
      <% end %>
      </tr>
      

  <% end %>
  
</table>
<%= link_to 'Back to Appointment Services', page_patient_dash_path %>
<br>


