
<body>
<center>
<div id ="home">
	
	<ul>
<li><%= link_to 'Appointment Services', page_patient_dash_path %></li>
<li><%= link_to 'Physicians Services', page_physician_dash_path %></li>
<li><%= link_to 'Administrative Services', page_admin_dash_path %></li>
</ul>
</center>
</body>
