<center><h1>Invoices</h1></center>

<div class="CSSTableGenerator" >
<table>
  
    <tr>
      <td>Date</td>
      <td>Notes</td>
      <td>Patient</td>
      <td>Physician</td>
      <td>Time</td>
      <td>Diagnosis</td>
      <th colspan="3"></td>
    </tr>
  

  
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date.strftime("%A, %b %d") %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.slot.name %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= link_to 'Generate Invoice', appointment %></td>
        
        
        
      </tr>
    <% end %>
  
</table>

<br>

<%= link_to 'Back to Administrative Services', page_admin_dash_path %>

