<center><h1>Appointment Services</h1></center>
<center><p id ="navi" ><%= link_to 'Schedule an appointment', physicians_path %></p>
<p id ="navi" ><%= link_to 'Cancel an appointment', page_cancel_path%> </p> </center>                       

