<h1>Physician Reports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |app| %>
      <tr>
        <td><%= app.physician.name %></td>
        <td><%= app.appointment_date  %></td>
        <td><td><%= link_to 'Back', page_admin_dash_path %></td></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
