<center><h1>Physician Reports</h1>
<%= link_to 'Back', page_admin_dash_path %></center>
<% @today = Date.today %>

<div class="CSSTableGenerator" >
<table>
    <tr>
    	<td>Physician</td>
    	<td>Appointment Date</td>
    	<td>Total Ammount</td>
    <% @appointments.each do |appointment| %>
    <% if appointment.appointment_date < @today %>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.appointment_date.strftime("%A, %b %d") %></td>
        <td><%= number_to_currency(appointment.diagnostic.cost) %></td>
               
      </tr>
    <% end %>
  <% end %> 
</table>

<br>



