<center><h1>Update Physicians</h1>
<%= link_to 'New Physician', new_physician_path %></center>
<div class="CSSTableGenerator" >
<table>
  
    <tr>
      <td>Name</td>
      
     
      <td>Update</td>
    </tr>
  

  
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        
        
        <td><%= link_to 'Update', edit_physician_path(physician) %></td>
        
      </tr>
    <% end %>
  
</table>

<br>

