<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>
<p>
	<p>
  <strong>Upcoming Appointments:</strong>
  <% @patient.appointments.each do |arg| %>
  <p>
  <%= "#{arg.appointment_date} " %>
  <%= "#{arg.physician.name} " %>
  <%= "#{arg.diagnostic.code} " %>
  
</p>
  <% end %>
</p>

<%= link_to 'Edit Patient Information', edit_patient_path(@patient) %> |
<%= link_to 'Back', page_admin_dash_path %>
</center>