/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
body {
margin: 0;
padding: 0;
font: 75% tahoma, Verdana, Arial, sans-serif;
line-height: 1.8em;
background: #eaeaea  url(images/bg.jpg) top left repeat-x;
}
		/*TOP BANNER*/
#header {
padding: 20px;
border-bottom: 1px solid #fff;
background: #333;
}
#header h1 {
float: center;
padding: 0;
margin: 0;
font-family: Georgia, sans-serif;
font-weight: normal;
font-size: 180%;
color: #ccc;
}

		/* TOP NAVIGATION */
#nav {
float: left;
width: 100%;
margin: 0;
padding: 0;
list-style: none;
background: #ccc;
}
#nav li {
float: left;
margin: 0;
padding: 0;
}
#nav a {
float: left;
display: block;
padding: 0.5em 2.5em 0.5em 1em;
text-decoration: none;
font-weight: bold;
font-size: 100%;
color: #73868c;
background: #ccc url(images/nav_slant.gif) no-repeat top right;
}
#nav #nav-1 a {
padding-left: 20px;
}
#nav a:hover {
color: #000;
}
		/*MAIN CONTAINER*/
#container {
margin: 0 auto;
padding: 0;
width: 770px;
}
#contentleft {
float: left;
margin-top: 8px;
width: 500px;
padding: 0 1em 1em 1em;
}
#contentright {
float: right;
margin-top: 8px;
width: 200px;
padding: 0 1em 1em 1em;
background: #aaa;
}

#dash{
float: left;
margin-top: 8px;
width: 150px;
padding: 0 1em 1em 1em;
background: #aaa;
}
#navi{
float: center;
margin-top: 8px;
width: 200px;
padding: 0 1em 1em 1em;
background: #aaa;
}
		/*FOOTER */
#footer {
font-size: 1em;
color: white;
clear:both;
margin:0;
padding: 0.5em;
background: #333;
color: #aaa;
}
		/*TYPOGRAPHY */
h1 {
font-family: Georgia, serif;
font-size: 180%;
padding: 30px 0 10px 0;
color: #73868c;
}	

h2 {
font-family: Georgia, sans-serif;
font-size: 180%;
padding: 30px 0 10px 0;
color: #333;
}
		/*LINKS*/	
a:link, a:visited {
color : #666;
background : inherit;
text-decoration : underline;
}
a:hover {
color : #73868c;
background : inherit;
text-decoration : none;
}	
ul li {
list-style-type: none;
}
.navlist ul li {
list-style-image : url(images/arrow.gif);
padding-left : 5px;
margin-bottom : 0;
} 
a img {
border: none;	
}
		/* IMAGES */	
.imgleft { 
float : left;
padding : 5px;
margin-right : 10px;
} 
.imgright { 
float : right;
padding : 5px;
margin-left : 10px;
} 
		/*3 COLUMNS*/
#bottom {
margin: 0 auto;
width: 770px;
}
#bottom h1 {
margin: 0;
letter-spacing: 3px;
font-family: Georgia, sans-serif;
font-size: 130%;
padding: 10px 0 10px 40px;
color: #73868c;
}
.col3,.col3center {
float: left;
width: 33%;
margin-bottom: 20px;
}
.col3center {
margin: 0;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#cccccc; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #b2b2b2 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #b2b2b2 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#005fbf");	background: -o-linear-gradient(top,#b2b2b2,005fbf);

	background-color:#b2b2b2;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #b2b2b2 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b2b2b2), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #b2b2b2 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2b2b2", endColorstr="#005fbf");	background: -o-linear-gradient(top,#b2b2b2,005fbf);

	background-color:#b2b2b2;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#home {
  width: 200px;
}
 
h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}