<center>
<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.text_field :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select(:physician_id, Physician.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label "Appointment Time" %><br>
    <%= f.collection_select(:slot_id, Slot.all, :id, :name) %>
  </div>
  <div>Reason</div>
  <div class="field">
    <% f.label :diagnostic_id %><br>
    <%= f.collection_select(:diagnostic_id, Diagnostic.all, :id, :code) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :note%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
</center>
  