<h1>Listing appointments</h1>
<div class="CSSTableGenerator" >
<table>
  
    <tr>
      <td>Date</td>
      <td>Note</td>
      <td>Patient</td>
      <td>Physician</td>
      <td>Slot</td>
      <td>Diagnostic</td>
      <td>Details</td>
      <td>Update</td>
    </tr>
 

  
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date.strftime("%A, %b %d") %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.slot.name %></td>
        <td><%= appointment.diagnostic.code %></td>
        <td><%= link_to 'Details', appointment %></td>
        <td><%= link_to 'Add Notes and Codes', edit_appointment_path(appointment) %></td>
              
      </tr>
    <% end %>
  
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
