<p id="notice"><%= notice %></p>
<center>
<p>
  <strong>Date:</strong>
  <%= @appointment.appointment_date.strftime("%A, %b %d") %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.slot.name %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic.code %>
</p>

<p>
  <strong>Cost:</strong>
  <% @ac = @appointment.diagnostic.cost %>
  <%= number_to_currency(@ac) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.note %>
</p>


<%= link_to 'Back to Appointment Services', page_patient_dash_path %>
</center>