<!DOCTYPE html>
<html>
<head>
  <title>MgpradoProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1 id = "header"> Houston Laser and Dermatology Center </h1>
<div id="nav"><%= link_to 'Home', page_dashboard_path %>
	<%= link_to 'Appointment Services', page_patient_dash_path %>
	<%= link_to 'Physicians Services', page_physician_dash_path %>
	<%= link_to 'Administrative Services', page_admin_dash_path %>
</div>
<body>

<%= yield %>

</body>
</html>
